.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout main {
    flex-grow: 1;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}